# BASE
ib_insync
lightning
pytorch-lightning
lightning-grid
hydra-core
click
colorama
tabulate
# FUNDAMENTAL ML
scikit-learn
## ML ##
# TEXT
lightning-transformers
torchtext
# LIGHTNING ECOSYSTEM
lightning-bolts
lightning-flash
# HYPERPARAMETER TUNING
optuna
# VS CODE TENSORBOARD SUPPORT
torch-tb-profiler
## QUANT ##
yfinance
QuantLib
pyarrow
zipline-reloaded
empyrical-reloaded
pyfolio-reloaded
alphalens-reloaded
## GENERAL ##
# STREAMS
pyzmq
# PLOTTING AND SYMBOLIC MATH
plotly
matplotlib
sympy
# FORMMATING, LINTING, TESTING, STATIC TYPE CHECKING, COVERAGE
black
flake8
pytest
mypy
coverage
# TQDM SUPPORT IN NOTEBOOKS
ipywidgets
# PLOTLY DASH APPS
dash
dash-bootstrap-components
gunicorn